@media screen and (max-width: 990px) {
    header>div {
        height: min-content;
    }
    header {
        clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0% 95%);
    }
    .figma-navbar .nav-item:hover a::after {
        transform: scale(0, 0);
    }
    .features-card {
        padding: 0;
    }
    .way {
        display: flex;
        flex-direction: column-reverse;
    }
    .figma-macbook {
        padding-top: 20px;
    }
    .figma-news-img {
        padding-top: 150px !important;
    }
    .newsletter-section-child {
        padding: 0 !important;
        margin: 0 !important;
    }
    /* Newsletter Section Done */
    .row {
        --bs-gutter-x: 0rem;
    }
    /* Price Section */
    .price-card-body {
        padding: 20px 10px 20px 10px;
    }
}

@media screen and (max-width: 281px) {
    .welcome-message-child h1 {
        font-size: 3.5rem;
    }
    .logo {
        width: 150px;
    }
    /* Newsletter Section Done */
}


/* Newsletter Section Done */