        /* Header Styles */
        
        html {
            scroll-behavior: smooth;
        }
        
        body {
            margin: 0;
            padding: 0;
            background-color: #252B42;
        }
        
        header {
            background-image: linear-gradient(to bottom, #132024d8, #118ce488), url(./images/header-bg-1.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position-y: 70%;
            background-attachment: fixed;
            clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0% 85%);
        }
        
        .figma-navbar a {
            margin-left: 30px;
            height: 3rem;
            position: relative;
        }
        
        .figma-navbar a::after {
            content: "";
            background-color: white;
            width: 80%;
            height: 2.5%;
            position: absolute;
            left: 10%;
            bottom: 17%;
            transform: scale(0, 2);
            transition: 0.8s;
        }
        
        .figma-navbar .nav-item:hover a::after {
            transform: scale(1, 2);
            transition: 0.8s;
        }
        
        .figma-navbar a:focus {
            color: #ca2ca8 !important;
        }
        /* Welcome message */
        
        .welcome-message-child {
            width: 700px;
        }
        
        .welcome-message h1 {
            color: white;
            font-size: 4.5rem;
            font-weight: bolder;
        }
        
        .welcome-message p {
            color: white;
            font-size: 2rem;
        }
        
        .figma-btn {
            background-color: #2091F9;
            color: white;
            font-size: 1.3rem;
            font-weight: 700;
        }
        
        .figma-btn:hover {
            transform: scale(1.1);
            transition: 0.5s;
        }
        /* header style finished */
        
        .features-section h1 {
            margin-top: 20%;
            color: white;
            font-size: 3rem;
            font-weight: bolder;
        }
        
        .features-section h1 small,
        .features-section p small {
            font-size: 20px;
        }
        
        .features-section p {
            color: white;
            font-size: 1.5rem;
        }
        
        .features-section-child {
            width: 600px;
        }
        
        .features-card {
            color: white;
        }
        
        .features-card img {
            width: 15%;
        }
        
        input,
        input::-webkit-input-placeholder {
            font-size: 20px;
        }
        
        input:focus {
            outline: none;
        }
        
        .fastest-section {
            margin-top: 80px;
        }
        
        .newsletter {
            margin-top: 150px;
        }
        
        .newsletter h1 {
            color: white;
            font-size: 3rem;
            font-weight: bolder;
        }
        
        .newsletter h1 small,
        .newsletter p small {
            font-size: 20px;
        }
        
        .newsletter p {
            color: white;
            font-size: 1.5rem;
        }
        /* Newsletter Section Done */
        
        .pricing-div {
            margin-top: 100px;
        }
        
        .pricing-div h1 {
            font-size: 3.5em;
        }
        
        .pricing-div p {
            font-size: 20px;
        }
        
        .popular-price {
            background-color: #2091F9;
        }
        
        .popular-price button {
            color: #2091F9;
        }
        
        .price {
            display: flex;
            justify-content: center;
        }
        
        .price-card-body {
            padding: 20px 40px 20px 40px;
        }
        
        .price-card-body-mother {
            border-radius: 26px !important;
        }
        
        .price-card-body p,
        ul {
            font-size: 20px;
            list-style: none;
        }
        
        .price h1 {
            color: #2091F9;
            font-size: 80px;
            padding-left: 30px;
        }
        
        .price-duration {
            color: #2091F9;
            font-size: 18px;
            padding-top: 20px;
            padding-left: 10px;
            text-align: start;
        }
        
        .jumping-hover:hover {
            transform: translateY(-10px);
            transition: 0.3s;
        }
        
        .contact-section {
            margin-top: 100px;
        }
        
        .contact-head h1 {
            font-size: 3.5rem;
        }
        
        .contact-head p {
            font-size: 22px;
        }
        
        .contact-form {
            border-radius: 15px;
        }
        
        .fa-map-marker-alt,
        .fa-envelope,
        .fa-phone-square {
            font-size: 25px;
            color: #2091F9;
        }
        
        .fa-facebook-square,
        .fa-github-square,
        .fa-linkedin,
        .fa-instagram-square {
            font-size: 2.5rem;
            color: white;
            padding: 1rem;
        }
        
        footer {
            margin-top: 100px;
            margin-bottom: 100px;
        }
        
        .social-icons {}
        
        .fa-facebook-square:hover,
        .fa-github-square:hover,
        .fa-linkedin:hover,
        .fa-instagram-square:hover {
            color: #2091F9;
        }
        
        .last-footer {
            font-size: 20px;
        }
        
        .my-name a {
            font-size: 23px;
            color: #2091F9;
            cursor: default;
            text-decoration: none;
        }
        
        .my-name:hover {
            transform: rotate(360deg) scale(1);
            transition: 1.5s;
        }